body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #cecdcd;
}

#color-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#color-box {
    width: 40vw;
    height: 40vh;
    margin: 20px auto;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

input,
button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #3d5154;
}

#result,
#time {
    font-size: 18px;
    margin-top: 10px;
}

#wpm,
#correct-guesses {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}